.login-container  {
    
display: grid;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(180deg, #0d1b2a, #1b4332);
font-family: "Inter", sans-serif;
}

.login-title {
color: white;
font-weight: 700;
margin-bottom: 1.5rem;
text-align: center;
font-size: 2.5rem;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.login-card {
background: white;
padding: 2.5rem;
border-radius: 12px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
width: 100%;
max-width: 380px;
margin-bottom: 16rem;
}

.login-card h3 {
font-weight: 700;
color: #0d1b2a;
}

.btn-success {
background: linear-gradient(90deg, #2ecc71, #1abc9c);
border: none;
}

.btn-success:hover {
background: linear-gradient(90deg, #27ae60, #16a085);
}

.text-primary {
color: #007bff;
text-decoration: none;
}

.text-primary:hover {
text-decoration: underline;
}



