/* Centra todo en el medio de la pantalla */
.layoutWrapper {
  min-height: 100vh; /* ocupa toda la altura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    background: linear-gradient(
    185deg,
    rgba(20, 28, 49, 1) 0%,
    rgba(24, 38, 67, 1) 50%,
    rgba(28, 49, 102, 1) 100%
  );
}

/* Caja del login */
.container {
  background-color: rgba(255, 255, 255); /* color de fondo */
  padding: 2rem;
  border-radius: 10px;
  width: 30%; /* el ancho se ajusta al contenido */
}
